In [28]:
""" Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple """

a = "I am trying my best to code"

b = [26, 2.3, -8, True, 1-3j, "python"]

c = 32.06

d = (26, 2.3, -8, True, 1-3j, "python")

In [50]:
""" Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable. """

var1 = ''

var2 = '[DS, ML, Python]'

var3 = ['DS', 'ML', 'Python']

var4 = 1

In [51]:
type(var1)

str

In [52]:
type(var2)

str

In [53]:
type(var3)

list

In [61]:
type(var4)

int

In [17]:
""" Q3. Explain the use of the following operators using an example:

(i) / : this operator is used for dividing.
(ii) % : this operator gives remainder for the division and we use it for obtaining remainder for the operation.
(iii) // : gives only the quotient value for the division not the remainder.
(iv) ** : this operator is used for obtaining raised to the power value.

Examples are : """

# (i) /
26 / 5

5.2

In [73]:
# (ii) %
26 % 5

1

In [74]:
# (iii) //
26 // 5

5

In [75]:
# (iv) **
5**2

25

In [88]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. """

l = [12, 3.2, True, "PWskills", 3-8j, False, (22), -25, "coding", -2.5]
for y in l :
    print(y)
    print(type(y))

12
<class 'int'>
3.2
<class 'float'>
True
<class 'bool'>
PWskills
<class 'str'>
(3-8j)
<class 'complex'>
False
<class 'bool'>
22
<class 'int'>
-25
<class 'int'>
coding
<class 'str'>
-2.5
<class 'float'>

In [3]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. """

A = int(input("Enter a value for A:"))
B = int(input("Enter a value for B:"))
count = 0
while A % B == 0:
    A = A / B
    count += 1
    if count > 0:
        print("A is divisible by B", count, "times.")
else:
    print("A is not divisbile by B.")

Enter a value for A: 396
Enter a value for B: 3

A is divisible by B 1 times.
A is divisible by B 2 times.
A is not divisbile by B.

In [11]:
""" Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. """

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,]
for num in list:
    if num % 3 ==  0:
        print(num, "is divisible by 3")
else :
        print(num, "is not divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [13]:
""" Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. """

"""
Mutable data types are those data types for which we can make any changes at a particular index without changing the identity of the data type.
Immutable data types are those in which we can't make changes at any particular index once it is defined. 
"""
# e.g for Mutable Data type is "list"
z = [2, -3, True, "India", -9+7j, 23.54, False]
type(z)

list

In [14]:
# we have assigned list data type to a variable z,now we will look if this data type is mutable or not 'Immutable'.
# for that we would first decide at which index we have to change, then we would select that index and try to change at that particular index.

z[3]

'India'

In [15]:
""" python assign index to data types internally and it can be forward indexing or backward indexing, hence we have taken out that element which
    is at 3rd index in the list data type and we would try to change it with some other element.
"""
z[3] = "Hindustan"

In [16]:
z

[2, -3, True, 'Hindustan', (-9+7j), 23.54, False]

In [10]:
""" It changes the element at index 3 of z data type from 'India' to 'Hindustan'. Hence it is a Mutabale Data type. i.e list data type, and there
are many object that are mutable. """

# e.g. for immutable data type is 'string'
y = "PwSkills"
type(y)

str

In [13]:
# we ahve assigned string data type to a variable y, now we will look if thus data type is immutable or mutable.
# as in previous example we would select any particular index and will try to change at that index.

y[1]

'w'

In [16]:
y[1] = "k"

TypeError: 'str' object does not support item assignment

In [ ]:
# Clearly it says 'str' object does not support item assignment, Hence this is the example of Immutable Data Type.